<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="font-family: 'Noto Sans', 'Arial', 'sans-serif'; margin: 0; padding: 0;">
<div class="container" style="margin: auto;">
    <div class="logo">
        <img src="cid:image" alt="Fullcar 로고">
    </div>
    <p style="margin-top: 20px; margin-bottom: 20px; padding: 0;">안녕하세요.</p>

    <div>
    <p style="line-height: 30%;">회사 메일 인증을 통한 안전한 <span class="highlight" style="color: #6C7AF1; font-weight: bold;">카풀 서비스 풀카</span>입니다.</p>
    <p style="line-height: 170%;">아래 <span class="highlight" style="color: #6C7AF1; font-weight: bold;">인증 번호</span>를 입력하여 회사 메일 인증을 완료해 주세요.</p>
    </div>

    <h1 th:text="${code}"> </h1>
    <div class="help-text">
        <a href="#" style="display: block; color: #505967; margin-top: 20px; text-decoration: underline;">인증이 잘 되지 않나요?</a>
    </div>
</div>
</body>

</html>

