<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UTF-8">

<script th:inline="javascript">
    function handleButtonClick() {
        console.log('Button clicked');
        alert('성공!');
    }
</script>

<body>
    <div style="margin:100px;">
        <h1> 안녕하세요. </h1>
        <h1> FullCar 입니다. </h1>
        <br>
        <p> </p>
        <br>
        <input type="button" value="인증 완료" onclick="handleButtonClick()">
        <br>
        <br/>
    </div>
</body>

</html>

